@mixin base-view() {

	display: block;
	border:3px solid black;
	margin-bottom: 10px;
	max-width: 80%;

	@include center-content();

	& img {
		@include center-content();
	}

	& form {
		max-width:98%;
		@include center-content();
	}

	& p {
		text-align: left;
	}

	& input,
	& label, {
		margin-bottom: 10px;
		@include center-content();
	}

	& form ul.nav li{
		margin-right:10px;
		margin-bottom:10px;
	}

	& label{
		text-align: left;
	}
}