<div class="view">
	{{#title}}
		<h1>{{title}}</h1>
	{{/title}}
	{{#description}}
		<h2>{{description}}</h2>
	{{/description}}
	{{#nav.length}}
		<nav>
			<ul>
			{{#nav}}
				<a href="#{{view}}" data-role="nav">{{label}}</a>
			{{/nav}}
			</ul>
		</nav>
	{{/nav.length}}
	{{#form}}
		<form id="{{form.id}}" {{#form.action}}action="{{form.action}}"{{/form.action}}{{^form.action}}action="#"{{/form.action}} method="{{form.method}}" data-on-success="{{form.on_success}}" data-on-error="{{form.on_error}}">
			{{#form.hiddens}}
				<input type="hidden" name="{{name}}" value="{{value}}" />
			{{/form.hiddens}}
			{{#form.inputs}}
				<input type="{{type}}" name="{{name}}" placeholder="{{placeholder}}" {{required}} />
			{{/form.inputs}}
			{{#form.radios}}
				<input type="radio" name="{{name}}" value="{{value}}" {{required}}>{{label}}</input>
			{{/form.radios}}
			{{#form.checkboxes}}
				<input type="checkbox" name="{{name}}" value="{{value}}" {{required}}>{{label}}</input>
			{{/form.checkboxes}}
			<nav>
			{{#form.buttons}}
				<button name="{{name}}" value="{{value}}">{{label}}</input>
			{{/form.buttons}}
			</nav>
		</form>
	{{/form}}
</div>