<div class="view fail">
	<h1>Ops! Parece que tivemos algum problema em nossos servidores.</h1>
	{{#message}}<h2>{{message}}</h2>{{/message}}
	{{^message}}<h2>Por favor, tente novamente mais tarde</h2>{{/message}}
</div>