code {
	display: block;
	border:gray;
	padding: 11px;
	font: Courier;
	background-color:lightsteelblue;
}

section {
	display: block;
	background-color: lightblue;
}

.view-holder {
	&.loading {
		background: gray;
	}
	background: white;
}

.gl-example {
	@include base-view();
}

.view {
	@include base-view();
	max-width:50%;
	text-align:center;
	padding:15px;
}