<body>
    <h1>-- Register Response Test ---</h1>
    <hr/>
    <form action="/session/response.py" method="post" id="templateForm">
        <table>
            <tr>
                <td><label>User E-mail:</label></td>
                <td>
                    <input type="text" name="email" required placeholder="Fill out your e-mail">
                </td>
            </tr>
            <tr>
                <td><label>Access Key:</label></td>
                <td>
                    <input type="text" name="accessKey" required placeholder="Fill out you access key">
                </td>
            </tr>
            <tr>
                <td><label>Session Key:</label></td>
                <td>
                    <input type="text" name="sessionKey" required placeholder="Fill out the session key">
                </td>
            </tr>
            <tr>
                <td><label>Json response:</label></td>
                <td>
                    <textarea name="response" required placeholder="Fill out the json response" cols="40" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class=submit>
                        <input type="submit" value="Submit">
                    </div>
                </td>
            </tr>
        </table>
    </form>
</body>