<!--
@grunt -task=test-views
-->
<div class="gl-example">
	<h2>Headings</h2>
	<h1>&lt;h1&gt;{{{data.title}}}</h1>
	<h2>&lt;h2&gt;{{{data.title}}}</h2>
	<h3>&lt;h3&gt;{{{data.title}}}</h3>
	<h4>&lt;h4&gt;{{{data.title}}}</h4>
	<h5>&lt;h5&gt;{{{data.title}}}</h5>
	<h6>&lt;h6&gt;{{{data.title}}}</h6>
</div>
<div class="gl-example">
	<h2>Paragraph</h2>
	<p>{{{data.text}}}</p>
</div>
<div class="gl-example">
	<h2>Images</h2>
	{{#data.picture}}
		<img class="img-rounded img-responsive" src="{{{url}}}" alt="{{{description}}}" />
	{{/data.picture}}
</div>
<div class="gl-example">
	<h2>Links</h2>
	<a href="#">link 1</a>
	<a href="#">link 2</a>
	<a href="#">link 3</a>
	<a href="#">link 4</a>
</div>

<div class="gl-example">
	<h2>Unordered List</h2>
	<ul>
		<li>level 1</li>
		<li>
			level 1
			<ul>
				<li>level 2</li>
				<li>
					level 2
					<ul>
						<li>level 3</li>
						<li>level 3</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>

<div class="gl-example">
	<h2>Navigation list</h2>
	<ul class="nav nav-pills">
	{{#data.nav}}
		<li><a href="#{{{view}}}" data-role="nav">{{{label}}}</a></li>
	{{/data.nav}}
	</ul>
</div>

<div class="gl-example">
	{{#data.form}}
	<h1>Form example:</h1>
	<form id="{{{data.form.id}}}" action="{{{data.form.action}}}" method="{{{data.form.method}}}" data-on-sumbit="{{{data.form.on_submit}}}" >
		{{#data.form.hiddens}}
			<input type="hidden" name="{{{name}}}" value="{{{value}}}" />
		{{/data.form.hiddens}}
		{{#data.form.inputs}}
			<div class="gl-input-holder">
				<input class="form-control tt-query" type="{{{type}}}" name="{{{name}}}" placeholder="{{{placeholder}}}" {{{required}}} />
			</div>
		{{/data.form.inputs}}
		{{#data.form.buttons.length}}
			<ul class="nav nav-pills">
			{{#data.form.buttons}}
				<li><button class="btn btn-lg btn-block btn-primary" value="{{{value}}}">{{{label}}}</button></li>
			{{/data.form.buttons}}
			</ul>
		{{/data.form.buttons.length}}
	</form>
	{{/data.form}}
</div>