<body>
	<h1>-- {{{data.test_title}}} ---</h1>
	<hr/>
	<div id="sayyes-assistant"></div>
	{{#data.templates}}
	<script id="{{.}}" type="text/mustache-template" charset="utf-8">
		{{#get_raw}}{{.}}{{/get_raw}}
	</script>
	{{/data.templates}}
</body>