{% extends "views/layout/website.html" %}
{% block body %}
<form action="/" method="post" id="pwdForm">
    <h3 class="ajaxMessage"><!-- ajax --></h3>
    <table>
        <tr>
            <td><label>E-mail:</label></td>
            <td>
                <input type="email" name="email" required placeholder="Enter your registered email">
                <div class="errorForm errorEmail"></div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class=submit>
                    <input type="submit" value="Submit">
                </div>
            </td>
        </tr>
    </table>
</form>
<a href="/login">Login</a>
<a href="/signup">Sign Up</a>
<script type="text/javascript">
    $(function(){
        $('#pwdForm').submit(function(){
            $('.ajaxMessage').hide(300);
            $.post('/forgot_password', $(this).serialize(), function(data) {
                if (data.status == 'success') {
                    $('.ajaxMessage').html('If this e-mail is registered a new password was sento to it.').show(300);
                } else {
                    $('.ajaxMessage').html('The system seems to be having problems, please try again later.').show(300);
                }
            }, 'json');
            return false;
        });
    });
</script>
{% endblock %}