<!doctype html>
<!--[if lt IE 8]><html class="no-js ie lt-ie8 lt-ie9"><![endif]-->
<!--[if lt IE 9]><html class="no-js ie lt-ie9"><![endif]-->
<!--[if gte IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Sayyes elements guideline</title>
	<script type="text/javascript">
	(function(d){ d.className = d.className.replace('no-js', 'js'); })(document.documentElement);
	</script>
	<style type="text/css" href="/static/css-min/reset.css" ></style>
	<style type="text/css">
	code {
		display: block;
		border:gray;
		padding: 10px;
		font: Courier;
		background-color:lightsteelblue;
	}
	div.gl-example{
		display: block;
		border:1px solid black;
		margin-bottom: 10px;
	}
	div.gl-example + h2{
		display: block;
		font-size: 2em;
		margin:0;
		padding: 0;
	}
	section{
		display: block;
		background-color: lightblue;
	}
	input[type=text]{
		display: block;
	}
	</style>
</head>

<body>