<!doctype html>
<!--[if IE 9]><html class="no-js ie lt-ie10"><![endif]-->
<!--[if IE 10]><html class="no-js ie lt-ie11"><![endif]-->
<!--[if IE 11]><html class="no-js ie"><![endif]-->
<!--[if gte IE 11]><!--><html class="no-js"><!--<![endif]-->
<head>
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=100,chrome=1"/>
	<![endif]-->
	<meta charset="utf-8">
	<title>Sayyes :: {{{data.test_title}}}</title>
	<script type="text/javascript">
		(function(d){ d.className = d.className.replace('no-js', 'js'); })(document.documentElement);
	</script>
	{{#raw.mock_data}}
	<script type="text/javascript" charset="utf-8">
		var mock = {{{raw.mock_data}}};
	</script>
	{{/raw.mock_data}}
	<link href="/flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/flat-ui/css/flat-ui.css" rel="stylesheet">
	{{#data.css}}
		<link rel="stylesheet" type="text/css" href="{{data.css}}" /></link>
	{{/data.css}}
	{{#data.js}}
		<script src="{{data.js}}" charset="utf-8" async defer></script>
	{{/data.js}}
	<!--[if lt IE 9]>
		<script src="/js-min/third-party/html5shiv.js" charset="utf-8" async></script>
	<![endif]-->
</head>
<body>