<!doctype html>
<!--[if lt IE 8]><html class="no-js ie lt-ie8 lt-ie9"><![endif]-->
<!--[if lt IE 9]><html class="no-js ie lt-ie9"><![endif]-->
<!--[if gte IE 9]><!--><html class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Sayyes :: {{{data.test_title}}}</title>
	<script type="text/javascript">
		(function(d){ d.className = d.className.replace('no-js', 'js'); })(document.documentElement);
	</script>
	<script type="text/javascript" charset="utf-8">
		var mock = {{{raw.mock_view}}};
		(function (s, h) {
			s.async = true;
			s.type = 'text/javascript';
			s.src = "{{{data.js}}}";
			h.appendChild(s);
		}(document.createElement('script'), document.documentElement));
	</script>
	<link rel="stylesheet" type="text/css" href="{{{data.css}}}" /></link>
</head>
