/*
@grunt -task=comp-sass -env=dev
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/igor\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\000031}}
code {
  display: block;
  border: gray;
  padding: 11px;
  font: Courier;
  background-color: lightsteelblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/igor\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\000039}}
section {
  display: block;
  background-color: lightblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/igor\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000314}}
.view-holder {
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/igor\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000315}}
.view-holder.loading {
  background: gray;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/igor\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000321}}
.gl-example {
  display: block;
  border: 3px solid black;
  margin-bottom: 10px;
  max-width: 80%;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/igor\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000329}}
.gl-example img {
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/igor\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000333}}
.gl-example form {
  max-width: 98%;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/igor\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000338}}
.gl-example .gl-input-holder {
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 10px;
}
