@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ialmeida\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\000031}}
code {
  display: block;
  border: gray;
  padding: 11px;
  font: Courier;
  background-color: lightsteelblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ialmeida\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\000038}}
div.gl-example {
  display: block;
  border: 1px solid black;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ialmeida\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000313}}
div.gl-example + h2 {
  display: block;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ialmeida\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000319}}
section {
  display: block;
  background-color: lightblue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ialmeida\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000323}}
input[type=text] {
  display: block;
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ialmeida\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000327}}
div.alert {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ialmeida\/Dropbox\/exchange\/sayyesassistant\/static\/sass\/layout\/_guideline\.scss}line{font-family:\0000330}}
div.show {
  display: block;
}
