<!doctype html>
{% autoescape false %}
<!--[if lt IE 8]><html class="no-js ie lt-ie8 lt-ie9"><![endif]-->
<!--[if lt IE 9]><html class="no-js ie lt-ie9"><![endif]-->
<!--[if gte IE 9]><!--><html class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Sayyes :: Controller test</title>
        <script type="text/javascript">
            (function(d){ d.className = d.className.replace('no-js', 'js'); })(document.documentElement);
        </script>
        <script type="text/javascript" charset="utf-8">
            //foo
            var j = "{{instruction}}";
            var mock = JSON.parse(j);
            //console.log(mock.id);
            //console.log(mock);
            (function (s, h) {
                s.async = true;
                s.type = 'text/javascript';
                s.src = "/js-min/test-controller-local-min.js";
                h.appendChild(s);
            }(document.createElement('script'), document.documentElement));
        </script>
        <link rel="stylesheet" type="text/css" href="/css-min/guideline-min.css"></link>
    </head>
    <body>
        <div id="sayyes-assistant"></div>
        {% block template %}
        {% for template in templates %}
        <script id="{{template.id}}" type="text/mustache-template" charset="utf-8">
            {{template.html}}
        </script>
        {% endfor %}
        {% endblock %}
    </body>
</html>
{% endautoescape %}
